{% extends 'index.html' %}

{% block body %}
  <div class="login-card">
    <h1>Log-in</h1><br>
    <p class='message'>{{message}}</p>
    <form id="myForm" action = "http://localhost:5000/dashboard" method = "post">
      <input id='username' type = "text" name = "username" value="testUser" placeholder="Your Username">
      <input id='password' type = "password" name = "password" value="testPwd" placeholder="Your Password"/>
      <input type="submit" name="login" class="login login-submit" value="Login">
    </form>
  </div>
{% endblock %}

