{% extends 'dashboard.html' %}
{% block content %}
<h1>todo</h1>
Logged in with roles:
<ul>
    {% for role in roles %}
    <li>{{ role }}</li>
    {% endfor %}
</ul>
<main>
    <article>
        <header>
            <h2>It is still quite tricky</h2>
        </header>
        <p>The advantages of this modern approach with Jason Web Token are:
            <ol><li>fits better to the stateless Hypertext Transfer Protokoll,</li>
                <li>much less communication to the backend is needed.</li>
            </ol>
        </p>
    </article>
</main>
<p>
    <a href="../dashboard">Dashboard</a>
</p>
{% endblock %}
